{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(RegistrationType) }}
        {{ form_row(RegistrationType.email) }}
        {{ form_row(RegistrationType.email) }}
        <button class="btn">Register</button>
    {{ form_end(RegistrationType) }}
{% endblock %}