
{% block stylesheets %}
    {{ encore_entry_link_tags('securityPage') }}
{% endblock %}
<body>

<a href="{{ path('main') }} ">Retour à la page principale</a>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</body>


 