
{% block stylesheets %}
    {{ encore_entry_link_tags('securityPage') }}
{% endblock %}
{% block content %}
{#<a href="{{ path('home', {'currrentUser': user.username}) }} ">Retour à la page principale</a>#}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}


 