<div class="col-lg-8 mx-auto text-center">
    <div class="modal fade" id="project_update_Modal" tabindex="-1" role="dialog" aria-labelledby="project_update_ModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project_update_ModalTitle">Modifier le projet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>