<div class="col-lg-8 mx-auto text-center">
    <div>
        <button class="btn btn-primary btn-xl"  id="updateAboutButton"  data-toggle="modal" data-target="#about_update_Modal">
            <i class="fa fa-plus"></i> Modifier les informations
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="about_update_Modal" tabindex="-1" role="dialog" aria-labelledby="about_update_ModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about_update_ModalTitle">Modifier votre profil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>