
.skillsImg {
  width: 50%;
  height: 50%;
  justify-content:center;
}

#skillForm {
    display: none;
}

#addSkillButton{
  margin-top:5%;
}

div.skill {
  position : relative;
}

div.skill button {
  visibility: hidden;
  font-size : 0.8em;
}

div.skill:hover img {
  opacity: 0.6;
}

div.skill:hover button {
  visibility: visible;
  opacity: 1;
}

.box
{
  margin-bottom: 100px;
}

div.project button {
  visibility: hidden;
  font-size : 0.8em;
  margin : 30px 0;
}

div.project:hover button {
  visibility: visible;
  opacity: 1;
}

button.delete {
  background-color: #dd2518;
}

button.update {
  background-color: #a18d1d;
}


.modal-body img {
  width: 200px;
  margin: 20px 0;
}

.custom-file-label::after{
  content : 'Parcourir';
}

.custom-file-label{
  overflow : hidden;
}

div.modal-dialog{
  color : black;
}

#mainNav.navbar-shrink {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

#messageButton {
  margin-top: 50px;
}

.dropdown-menu a {
  margin-left: 15px;
  text-decoration: none;
  color : black;
}

.dropdown-menu a:hover {
  color: #F05F40;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    margin-right: -50px
  }
  .dropdown{
    margin-left: 15px;
  }
}