{% extends 'base.html.twig' %}

{% block title %}Compétence !{% endblock %}

{% block body %}
        {% for skill in skills %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ skill.title }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ skill.content }}</h4>
                </div>
                </div>    
            </div>
        {% endfor %}
{% endblock %}