<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8 text-center">
			<h2 class="mt-0">Contact</h2>
			<hr class="divider my-4">
			<p class="text-muted mb-5">N'hestitez pas à me contacter</p>
		</div>
		<div class="col-lg-8 text-center" id="message">
			<i class="fas fa-phone fa-3x mb-3 text-muted"></i>
			<div>{{ admin.phonenumber }} </div>
		</div>
		{% if not is_granted('ROLE_ADMIN') %}
			{% include 'blog/views/modal/message.html.twig' %}
    	{% endif %}
	</div>
</div>