<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="fr">
        <title>{% block title %}{% endblock %}</title>                                                                                                                                                                                                                                                                                                                                                                                                                                                    
        {% block stylesheets %}
            {{ encore_entry_link_tags('mainPage') }}
        {% endblock %}
    </head>
    <body id="page-top">

        {% block body %}{% endblock %}

        {% block javascripts %} 
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                {{ encore_entry_script_tags('adminPage') }}
            {% else %}
                {{ encore_entry_script_tags('mainPage') }}
            {% endif %}       
        {% endblock %}
    </body>
</html>
