<div class="row">
	<div class="col-md-12">
		<h3>Create Yours</h3>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h4>Bonjour</h4>
				{{ contactData.name}}<br>
				{{ contactData.message}}<br>
				{{ contactData.from }}
			</div>
		</div>
	</div>
</div>