    {{ form_start(form, {'attr': {'id': 'form_skill'}})}}
        {{ form_row(form.title, { 'label': 'Titre' }) }}
        {{ form_row(form.imageFile, { 'label': 'Télécharger une image' }) }}
        <button type="submit" name="submitSkill" class="btn btn-primary" data-label="Enregistrer">
            Enregistrer
        </button>
    {{ form_end(form) }}